.background {
  background-color: #331d74;
}

.image {
  margin-top: 205px;
  width: 30%;
}

.h1 {
  font-family: Ubuntu, sans-serif;
  color: #fff;
  text-align: center;
}

.h1.spacetop {
  margin-top: 72px;
  padding-right: 154px;
  padding-left: 154px;
}

.paragraph1 {
  margin-top: 54px;
  padding-right: 195px;
  padding-left: 195px;
  font-family: Ubuntu, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.section {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.heading {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-left: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #7a7a7a;
  text-align: left;
}

.footer {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: 0px;
  padding-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-f-c {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.column {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.link {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  color: #0c004b;
  text-decoration: none;
}

.link:hover {
  color: #d30254;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 0, 75, 0.93)), to(rgba(12, 0, 75, 0.93))), url('../images/pexels-ann-h-167722.jpg');
  background-image: linear-gradient(180deg, rgba(12, 0, 75, 0.93), rgba(12, 0, 75, 0.93)), url('../images/pexels-ann-h-167722.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  padding-bottom: 96px;
}

.bodyimpressum {
  background-color: #fff;
}

.h1black {
  margin-top: 97px;
  font-family: Ubuntu, sans-serif;
  text-align: left;
}

.image-2 {
  display: block;
  max-height: none;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  display: block;
  width: 50%;
  max-height: 72.390625px;
  max-width: 470px;
  margin-top: 112px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-3 {
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
}

.paragraph.datenschutz {
  margin-top: 57px;
  text-align: left;
}

.text-span {
  font-size: 20px;
}

.text-span-2 {
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  .image {
    display: block;
    max-width: 80%;
    margin-top: 63px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 139px;
    padding-left: 139px;
  }

  .container-4 {
    padding-right: 73px;
    padding-left: 73px;
  }
}

@media screen and (max-width: 767px) {
  .image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .h1.spacetop {
    padding-right: 52px;
    padding-left: 52px;
  }

  .paragraph1 {
    padding-right: 59px;
    padding-left: 59px;
  }

  .h1black {
    margin-top: 59px;
  }

  .container-4 {
    padding: 0px 32px 15px;
  }
}

@media screen and (max-width: 479px) {
  .image {
    display: block;
    width: 80%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .h1.spacetop {
    padding-right: 10px;
    padding-left: 0px;
  }

  .paragraph1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container {
    display: block;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .h1black {
    display: block;
    font-size: 26px;
  }

  .image-2 {
    margin: -69px auto -46px -68px;
    padding-right: 29px;
    padding-left: 29px;
    text-align: center;
  }

  .paragraph.datenschutz {
    margin-top: 27px;
  }
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}